version: '2'
services:
  jhipsterelasticsearchsampleapplication-app:
    image: jhipsterelasticsearchsampleapplication
    environment:
      - _JAVA_OPTIONS=-Xmx512m -Xms256m
      - SPRING_PROFILES_ACTIVE=prod,swagger
      - MANAGEMENT_METRICS_EXPORT_PROMETHEUS_ENABLED=true
      - SPRING_DATASOURCE_URL=jdbc:mysql://jhipsterelasticsearchsampleapplication-mysql:3306/jhipsterelasticsearchsampleapplication?useUnicode=true&characterEncoding=utf8&useSSL=false&createDatabaseIfNotExist=true
      - JHIPSTER_SLEEP=30 # gives time for other services to boot before the application
      - SPRING_DATA_JEST_URI=http://jhipsterelasticsearchsampleapplication-elasticsearch:9200
      - SPRING_ELASTICSEARCH_REST_URIS=http://jhipsterelasticsearchsampleapplication-elasticsearch:9200
    ports:
      - 8080:8080
  jhipsterelasticsearchsampleapplication-mysql:
    extends:
      file: mysql.yml
      service: jhipsterelasticsearchsampleapplication-mysql
  jhipsterelasticsearchsampleapplication-elasticsearch:
    extends:
      file: elasticsearch.yml
      service: jhipsterelasticsearchsampleapplication-elasticsearch
